<!-- <p>completed-tasks works!</p> -->
<div class="completed-tasks-container">
  <div class="search-bar">
    <i class="fas fa-search"></i>
    <input type="text" placeholder="Search Completed Tasks" [(ngModel)]="searchText" (input)="searchTasks()" />
  </div>
  <div class="task-list">
    <div class="task-item" *ngFor="let task of filteredCompletedTasks">
      <i class="far fa-check-circle"></i>
      <div class="task-title">
        <span>{{ task.title }}</span>
      </div>
    </div>
  </div>
</div>

 
  